/* body {
  background-color: black;
  color: white;
} */
.contain {
  display: flex;
  justify-content: space-between;
}
.main {
  display: flex;
  align-items: center;
  font-style: italic;
}

#line1 {
  margin-bottom: 1%;
  width: 25px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
  border-radius: 1%;
  margin-left: 50%;
}

#logor {
  width: 40px;
  height: 40px;
  background-color: red;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 9px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 30px;
  margin-top: 0.5%;
}
#logow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid white;
  border-bottom: 10px solid transparent;
}
#letter {
  margin-left: 1%;
  margin-top: 2%;
}
.sreach {
  margin-left: 12%;
  width: 42%;
  border: 3px solid white;
  padding: 5px;
  border-radius: 20px;
  margin-top: 1%;
}

.mic {
  margin-left: 0.5%;
  margin-top: 1%;
}
.video {
  margin-left: 12%;
  margin-top: 1%;
}
.bell {
  margin-left: 3%;
  margin-top: 1%;
}
